
*.kpt
*.cdb
*.hdb
*.rdb
*.ddb
*.qmsg
*.bpm
*.idb
*.logdb
*.db_info
*.hier_info
*.hif
*.html
*.txt
*.ammdb
*.flock
*.sci
*.tdb
*.tmw_info
*.hsd
*.json
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
incremental_db/README
*.bak
*.cdf
*.done
*.rpt
*.summary
*.smsg
*.htm
*.jdi
*.pin
*.pof
*.tdf
